https://towardsdatascience.com/all-about-categorical-variable-encoding-305f3361fd02

In [ ]:
import pandas as pd
import numpy as np
data ={'Temperature':['Hot','Cold','Very hot','Warm','Hot','Warm','Warm','Hot','Hot','Cold'],
       'Color':['Red','Yellow','Blue','Blue','Red','Yellow','red','Yellow','Yellow','Yellow'],
       'Target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data,columns = ['Temperature','Color','Target'])

In [ ]:
df

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

### One Hot Encoding : Pandas - get_dummies // SkLearn - OneHotEncoder

In [ ]:
df_he=df.copy()

In [ ]:
df_hec=pd.get_dummies(df_he,prefix=['Temp'],columns=['Temperature'])
df_hec

    Color  Target  Temp_Cold  Temp_Hot  Temp_Very hot  Temp_Warm
0     Red       1          0         1              0          0
1  Yellow       1          1         0              0          0
2    Blue       1          0         0              1          0
3    Blue       0          0         0              0          1
4     Red       1          0         1              0          0
5  Yellow       0          0         0              0          1
6     red       1          0         0              0          1
7  Yellow       0          0         1              0          0
8  Yellow       1          0         1              0          0
9  Yellow       1          1         0              0          0

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohc = OneHotEncoder()
ohe = ohc.fit_transform(df_he.Temperature.values.reshape(-1, 1)).toarray()
dfOneHot = pd.DataFrame(ohe,columns = ["Temp_"+str(ohc.categories_[0][i]) for i in range(len(ohc.categories_[0]))])
dfh = pd.concat([df_he,dfOneHot],axis =1)
dfh

  Temperature   Color  Target  Temp_Cold  Temp_Hot  Temp_Very hot  Temp_Warm
0         Hot     Red       1        0.0       1.0            0.0        0.0
1        Cold  Yellow       1        1.0       0.0            0.0        0.0
2    Very hot    Blue       1        0.0       0.0            1.0        0.0
3        Warm    Blue       0        0.0       0.0            0.0        1.0
4         Hot     Red       1        0.0       1.0            0.0        0.0
5        Warm  Yellow       0        0.0       0.0            0.0        1.0
6        Warm     red       1        0.0       0.0            0.0        1.0
7         Hot  Yellow       0        0.0       1.0            0.0        0.0
8         Hot  Yellow       1        0.0       1.0            0.0        0.0
9        Cold  Yellow       1        1.0       0.0            0.0        0.0

In [ ]:
ohc.categories_[0][0]

'Cold'

- Usually, for Regression, we use N-1 (drop first or last column of One Hot Coded new feature ), but for classification, the recommendation is to use all N columns without as most of the tree-based algorithm builds a tree based on all available variables.
- In tree-based methods, we will never consider that additional label if we drop. Thus, if we use the categorical variables in a tree-based learning algorithm, it is good practice to encode it into N binary variables and don’t drop.

### Label Encoder : Pandas - factorize // SkLearn - LabelEncoder

In [ ]:
df_le=df.copy()

In [ ]:
df_le.loc[:,'Temp_factorize_encode'] = pd.factorize(df_le['Temperature'])[0].reshape(-1,1)
df_le

  Temperature   Color  Target  Temp_factorize_encode
0         Hot     Red       1                      0
1        Cold  Yellow       1                      1
2    Very hot    Blue       1                      2
3        Warm    Blue       0                      3
4         Hot     Red       1                      0
5        Warm  Yellow       0                      3
6        Warm     red       1                      3
7         Hot  Yellow       0                      0
8         Hot  Yellow       1                      0
9        Cold  Yellow       1                      1

In [ ]:
df_les=df.copy()

In [ ]:
from sklearn.preprocessing import LabelEncoder
df_les['Temp_label_encoded']= LabelEncoder().fit_transform(df_les.Temperature)
df_les

  Temperature   Color  Target  Temp_label_encoded
0         Hot     Red       1                   1
1        Cold  Yellow       1                   0
2    Very hot    Blue       1                   2
3        Warm    Blue       0                   3
4         Hot     Red       1                   1
5        Warm  Yellow       0                   3
6        Warm     red       1                   3
7         Hot  Yellow       0                   1
8         Hot  Yellow       1                   1
9        Cold  Yellow       1                   0

### Ordinal Encoder : User defined

In [ ]:
df_oe=df.copy()

In [ ]:
Temp_code={'Cold' : 1, 'Warm' : 2, 'Hot':3,'Very hot':4}
df_oe['Temp_Ord_coded'] = df_oe.Temperature.map(Temp_code)
df_oe

  Temperature   Color  Target  Temp_Ord_coded
0         Hot     Red       1               3
1        Cold  Yellow       1               1
2    Very hot    Blue       1               4
3        Warm    Blue       0               2
4         Hot     Red       1               3
5        Warm  Yellow       0               2
6        Warm     red       1               2
7         Hot  Yellow       0               3
8         Hot  Yellow       1               3
9        Cold  Yellow       1               1

### Helmert Encoder

In [ ]:
df_hle=df.copy()

In [ ]:
pip install --upgrade category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.1MB/s
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied, skipping upgrade: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.2)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [ ]:
import category_encoders as ce
encoder = ce.HelmertEncoder(cols=['Temperature'],drop_invariant=True)
df_hleh=encoder.fit_transform(df_hle['Temperature'])
df_hle = pd.concat([df_hle,df_hleh], axis=1)
df_hle

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

  Temperature   Color  Target  Temperature_0  Temperature_1  Temperature_2
0         Hot     Red       1           -1.0           -1.0           -1.0
1        Cold  Yellow       1            1.0           -1.0           -1.0
2    Very hot    Blue       1            0.0            2.0           -1.0
3        Warm    Blue       0            0.0            0.0            3.0
4         Hot     Red       1           -1.0           -1.0           -1.0
5        Warm  Yellow       0            0.0            0.0            3.0
6        Warm     red       1            0.0            0.0            3.0
7         Hot  Yellow       0           -1.0           -1.0           -1.0
8         Hot  Yellow       1           -1.0           -1.0           -1.0
9        Cold  Yellow       1            1.0           -1.0           -1.0

### Binary Encoder

In [ ]:
df_be=df.copy()

In [ ]:
import category_encoders as ce
encoder = ce.BinaryEncoder(cols=['Temperature'])
df_bin=encoder.fit_transform(df_be['Temperature'])
df_be = pd.concat([df_be,df_bin], axis=1)
df_be

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

  Temperature   Color  Target  Temperature_0  Temperature_1  Temperature_2
0         Hot     Red       1              0              0              1
1        Cold  Yellow       1              0              1              0
2    Very hot    Blue       1              0              1              1
3        Warm    Blue       0              1              0              0
4         Hot     Red       1              0              0              1
5        Warm  Yellow       0              1              0              0
6        Warm     red       1              1              0              0
7         Hot  Yellow       0              0              0              1
8         Hot  Yellow       1              0              0              1
9        Cold  Yellow       1              0              1              0

### Frequency Encoder

In [ ]:
df_fe=df.copy()

In [ ]:
fe=df_fe.groupby('Temperature').size()/len(df_fe)
df_fe.loc[:,'Temp_freq_code'] = df_fe['Temperature'].map(fe)
df_fe

  Temperature   Color  Target  Temp_freq_code
0         Hot     Red       1             0.4
1        Cold  Yellow       1             0.2
2    Very hot    Blue       1             0.1
3        Warm    Blue       0             0.3
4         Hot     Red       1             0.4
5        Warm  Yellow       0             0.3
6        Warm     red       1             0.3
7         Hot  Yellow       0             0.4
8         Hot  Yellow       1             0.4
9        Cold  Yellow       1             0.2

### Target Encoder : Mean Encoding

-Mean Encoding or Target Encoding is one viral encoding approach followed by Kagglers. There are many variations of this. Here I will cover the basic version and smoothing version. Mean encoding is similar to label encoding, except here labels are correlated directly with the target. For example, in mean target encoding for each category in the feature label is decided with the mean value of the target variable on a training data. This encoding method brings out the relation between similar categories, but the connections are bounded within the categories and target itself. The advantages of the mean target encoding are that it does not affect the volume of the data and helps in faster learning. Usually, Mean encoding is notorious for over-fitting; thus, a regularization with cross-validation or some other approach is a must on most occasions.

In [ ]:
df_me=df.copy()

In [ ]:
me=df_me.groupby('Temperature')['Target'].mean()
print(me)
df_me.loc[:,'Temp_mean_code'] = df_me['Temperature'].map(me)
df_me

Temperature
Cold        1.000000
Hot         0.750000
Very hot    1.000000
Warm        0.333333
Name: Target, dtype: float64

  Temperature   Color  Target  Temp_mean_code
0         Hot     Red       1        0.750000
1        Cold  Yellow       1        1.000000
2    Very hot    Blue       1        1.000000
3        Warm    Blue       0        0.333333
4         Hot     Red       1        0.750000
5        Warm  Yellow       0        0.333333
6        Warm     red       1        0.333333
7         Hot  Yellow       0        0.750000
8         Hot  Yellow       1        0.750000
9        Cold  Yellow       1        1.000000

-Mean encoding can embody the target in the label, whereas label encoding does not correlate with the target. In the case of a large number of features, mean encoding could prove to be a much simpler alternative. Mean encoding tends to group the classes, whereas the grouping is random in case of label encoding.

### Target Encoder : Smooth Encoding

In [ ]:
df_se=df.copy()

In [ ]:
mean1 = df_se['Target'].mean()
agg1 = df_se.groupby('Temperature')['Target'].agg(['count','mean'])
counts1 = agg1['count']
means1 = agg1['mean']
weight = 100
smooth = (counts1*means1 + weight *mean1) / (counts1+weight)
print(smooth)
df_se.loc[:,'Temp_smooth_encoded'] = df_se['Temperature'].map(smooth)
df_se

Temperature
Cold        0.705882
Hot         0.701923
Very hot    0.702970
Warm        0.689320
dtype: float64

  Temperature   Color  Target  Temp_smooth_encoded
0         Hot     Red       1             0.701923
1        Cold  Yellow       1             0.705882
2    Very hot    Blue       1             0.702970
3        Warm    Blue       0             0.689320
4         Hot     Red       1             0.701923
5        Warm  Yellow       0             0.689320
6        Warm     red       1             0.689320
7         Hot  Yellow       0             0.701923
8         Hot  Yellow       1             0.701923
9        Cold  Yellow       1             0.705882

### Target Encoder : Weight of Evidence Encoding

In [ ]:
df_we=df.copy()

In [ ]:
woe_df=df_we.groupby('Temperature')['Target'].mean()
woe_df=pd.DataFrame(woe_df)
woe_df=woe_df.rename(columns={'Target':'Good'})
woe_df['Bad'] = 1 - woe_df.Good
woe_df['Bad'] = np.where(woe_df['Bad']==0,0.00001,woe_df['Bad'])
woe_df['WoE'] = np.log(woe_df.Good/woe_df.Bad)
woe_df

                 Good       Bad        WoE
Temperature
Cold         1.000000  0.000010  11.512925
Hot          0.750000  0.250000   1.098612
Very hot     1.000000  0.000010  11.512925
Warm         0.333333  0.666667  -0.693147

In [ ]:
df_we.loc[:,'WoE_coded'] = df_we['Temperature'].map(woe_df['WoE'])
df_we

  Temperature   Color  Target  WoE_coded
0         Hot     Red       1   1.098612
1        Cold  Yellow       1  11.512925
2    Very hot    Blue       1  11.512925
3        Warm    Blue       0  -0.693147
4         Hot     Red       1   1.098612
5        Warm  Yellow       0  -0.693147
6        Warm     red       1  -0.693147
7         Hot  Yellow       0   1.098612
8         Hot  Yellow       1   1.098612
9        Cold  Yellow       1  11.512925

- The WoE transformation has (at least) three advantage:

1) It can transform an independent variable so that it establishes a monotonic relationship to the dependent variable. It does more than this — to secure monotonic relationship it would be enough to “recode” it to any ordered measure (for example 1,2,3,4…), but the WoE transformation orders the categories on a “logistic” scale which is natural for Logistic Regression.

2) For variables with too many (sparsely populated) discrete values, these can be grouped into categories (densely populated), and the WoE can be used to express information for the whole category

3) The (univariate) effect of each category on the dependent variable can be compared across categories and variables because WoE is a standardized value (for example you can compare WoE of married people to WoE of manual workers)


- It also has (at least) three drawbacks:

1) Loss of information (variation) due to binning to a few categories

2) It is a “univariate” measure, so it does not take into account the correlation between independent variables

3) It is easy to manipulate (over-fit) the effect of variables according to how categories are created

### Target Encoder : Probability Ratio Encoding

Probability Ratio Encoding is similar to Weight Of Evidence(WoE), with the only difference is the only ratio of good and bad probability is used. For each label, we calculate the mean of target=1, that is the probability of being 1 ( P(1) ), and also the probability of the target=0 ( P(0) ). And then, we calculate the ratio P(1)/P(0) and replace the labels by that ratio. We need to add a minimal value with P(0) to avoid any divide by zero scenarios where for any particular category, there is no target=0.

In [ ]:
df_pre=df.copy()

In [ ]:
pr_df=df_pre.groupby('Temperature')['Target'].mean()
pr_df=pd.DataFrame(pr_df)
pr_df=pr_df.rename(columns={'Target':'Good'})
pr_df['Bad'] = 1 - pr_df.Good
pr_df['Bad'] = np.where(pr_df['Bad']==0,0.0001,pr_df['Bad'])
pr_df['PR'] = pr_df.Good/pr_df.Bad
pr_df

                 Good       Bad       PR
Temperature
Cold         1.000000  0.000100  10000.0
Hot          0.750000  0.250000      3.0
Very hot     1.000000  0.000100  10000.0
Warm         0.333333  0.666667      0.5

In [ ]:
df_pre.loc[:,'PR_coded'] = df_pre['Temperature'].map(pr_df['PR'])
df_pre

  Temperature   Color  Target  PR_coded
0         Hot     Red       1       3.0
1        Cold  Yellow       1   10000.0
2    Very hot    Blue       1   10000.0
3        Warm    Blue       0       0.5
4         Hot     Red       1       3.0
5        Warm  Yellow       0       0.5
6        Warm     red       1       0.5
7         Hot  Yellow       0       3.0
8         Hot  Yellow       1       3.0
9        Cold  Yellow       1   10000.0